main{
    border: 1px solid black;
    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;
}
section{
    border: 1px solid black;
    max-width: 500px;
    height: 500px;
    margin: 0 auto;
    background: url('thumb\ 1.jpg') no-repeat center center/cover;
}