*{
    box-sizing: border-box;
}
:root.escuro {
    --bgNav: #dbdada;
    --fonte: rgb(110, 110, 110);
    --bgSite: #292929;
    --bghover: #5a5a5a;
}
:root{
    --bgNav: #333;
    --fonte: white;
    --bgSite: #f1f1f1;
    --bghover: #aaa;
}
#lua{
    height: 50px;
}
#lua:hover{
    background-color: var(--bghover);
}
#troca{
    width: 64px;
    height: 24px;
    border: 1px solid black;
    background-color: var(--bghover);
    border-radius: 50px;
    margin: 24px auto;
    position: absolute;
    right: 3%;
    top: 1%
}
#troca button {
    position: absolute;
    
    width: 32px;
    height: 32px;
    left: -5%;
    top: 50%;
    border: 0;
    border-radius: 50%;
    transform: translateY(-50%);
}
#troca button:hover {
    outline: 2px solid var(--bghover);
}

body{
    background-color: var(--bgSite);
    font-family: sans-serif;
}

header{
    background-color: var(--fonte);
    padding: 30px;
    text-align: center;
}
label[for="btn-menu"]{
    height: 50px;
    flex: 1;
    background-color: var(--bgNav);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: var(--fonte);
    display: none;
}
nav{
    background-color: var(--bgNav);
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.escuro #troca button{
    left: 50%;
}
nav a{
    text-decoration: none;
    color: var(--fonte);
    flex: 1;
    text-align: center;
    padding: 16px;       
}
nav a:hover{
    background-color: var(--bghover);
}

main{
    display: flex;
}

.coluna75{
    width: 75%;
}
.coluna25{
    width: 25%;
    padding-left: 20px;
}

section{
    background-color: var(--fonte);
    padding: 20px;
    margin-bottom: 20px;
}
.img{
    background-color: var(--bghover);
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    padding: 20px;
}
#social{
    background-color: var(--fonte);
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 20px;
}
#social .img{
    height: 100%;
    width: 25px;
    outline: 1px solid black;
}
footer {
    background-color: var(--fonte);
    text-align: center;
    padding: 30px;
}
@media (max-width: 800px) {
    main{
        margin-top: 20px;
        flex-direction: column;
    }
    .coluna75 {
        width: 100%;
    }
    .coluna25 {
        width: 100%;
        padding-left: 0;
    }
    nav {
        display: none;
        flex-direction: column;
    }
    label[for="btn-menu"]{
        display: flex;
    }
    .active{
        display: flex;
    }
}